
div
{
background-color:#AFEEEE;
line-height:1.3em;
font-size: 1.5em;
color:#000080;
border:8px ridge #AFEEEE;
margin-left:10%;
margin-right:10%;
padding: 5px;
padding-left: 20px;
padding-right: 20px;
}