body
{
background-image:url('img1/fon1.jpg');
background-repeat:repeat-x;
background-color:#7FFFD4;

}

body.class1
{
background-image:url('img1/oboi1.jpg');
background-repeat:repeat;
background-attachment:fixed;
background-color:#7FFFD4;
font-family:times new roman, times, MyWebFont,DroidSans, serif; 
color:#000080
font-size: 8px;
}


body.class2
{
background-image:url('img1/oboi2.jpg');
background-attachment:fixed;
background-color:#7FFFD4;
font-family:times new roman, times, MyWebFont,DroidSans, serif; 
color:#000080
font-size: 8px;

}

body.class3
{
background-image:url('img1/smil.gif');
background-repeat:repeat;
background-attachment:fixed;
background-color:#7FFFD4;
font-family:times new roman, times, MyWebFont,DroidSans, serif; 
color:#000080
font-size: 8px;

}

body.class4
{
background-image:url('img1/mesh.jpg');
background-repeat:repeat;
background-attachment:fixed;
font-family:times new roman, times, MyWebFont,DroidSans, serif; 
margin-left:15%;
margin-right:10%;
}

h1,h2,h3,h4
{
font-family:COMIC SANS MS, times new roman, times, 'MyWebFont', DroidSans, serif;
color:purple;
text-decoration: underline;
margin-left:15%;
margin-right:15%;
}

h1
{
font-size: 2em;
}

h2
{
font-size: 1.5em;
}

h3
{
font-size: 1.3em;
}

p.name
{
background-image:url('img1/name.gif');
background-color:#7FFFD4;;
background-repeat:no-repeat;
border:0px ridge white;
margin-left:1px;
}

p.zag
{
background-color:#7FFFD4;
background-attachment:fixed;
border:0px ridge #7FFFD4;
font-family: segoe script, serif;
color:#0000FF;
}

p.red
{
color: #FF0000;
margin-left:20%;
font-size: 45px;
}
p.green
{
color: #006400;
margin-left:20%;
}

p.yellow
{
color: #B8860B;
margin-left:20%;
}

p.or
{
color: #FFA500;
margin-left:20%;
}

p.blue
{
color: #0000CD;
margin-left:20%;
}

em
{
color:#0000FF;
font-weight:bolder;
}

em.a
{
color:#0000FF;
}
pre
{
font-family: segoe script, serif;
color:#0000FF;
}

div
{
background-color:#AFEEEE;
line-height:1.3em;
font-size: 1.5em;
color:#000080;
border:8px ridge #AFEEEE;
margin-left:10%;
margin-right:10%;
padding: 5px;
padding-left: 20px;
padding-right: 20px;
}

div.spis
{
background-color:no-color;
margin-left:10%;
width: 1000px;
border-style: solid;
}

div.blok
{
background-image:url('img1/notepad.jpg');
border:0px ridge #AFEEEE;
margin-left:2%;
width: 170px;
font-size: 14px;
border-style: solid;
padding-left: 40px;
padding-right: 40px;
float: right;

}

div.blok1
{
background-image:url('img1/notepad.jpg');
border:0px ridge #AFEEEE;
margin-left:2%;
margin-right:10%;
width:170px;
font-size: 14px;
border-style: solid;
padding-left: 40px;
padding-right: 40px;
float: left;

}

div.blok2
{
background-image:url('img1/notepad.jpg');
border:0px ridge #AFEEEE;
margin-left:2%;
margin-right:10%;
width:170px;
font-size: 14px;
border-style: solid;
padding-left: 40px;
padding-right: 40px;
float: none;

}

div.im
{
background-color:#AFEEEE;
border:0px ridge #AFEEEE;
margin-left:2%;
margin-right:5%;
width:20px;
font-size: 5px;
border-style: solid;
padding-left: 20px;
padding-right: 20px;
float: left;

}
div.im1
{
background-color:#7FFFD4;
border:0px ridge #AFEEEE;
margin-left:25%;
margin-right:2%;
width:170px;
font-size: 14px;
border-style: solid;
padding-left: 40px;
padding-right: 40px;
float: right;

}

div.im2
{
background-color:#AFEEEE;
border:0px ridge #AFEEEE;
margin-left:0%;
margin-right:0%;
width:450px;
font-size: 14px;
border-style: solid;
padding-left: 0px;
padding-right: 0px;
float: left;

}
div.namee
{
background-color:no color;
margin-left:0%;
}

a:link {color: #000080;}
a:visited {color: #8A2BE2;}
a:hover 
{
background: #00FA9A;
color: yellow;
}